html {
  background-color: #00539F;
  font-size: 18px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
}

body {
  width: 600px;
  margin: 0 auto 50px;
  background: #619e00;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

p {
    color: maroon;
    width: 500px;
    border: 1px solid black;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

button {
  margin: 0 0 20px 0;
}

.stars {
  background: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  animation-iteration-count: infinite;
}

.star1 {
  margin: 15% 0 0 60%;
  animation-duration: 0.9s;
  animation-name: twinkle;
}

.star2 {
  margin: 25% 0 0 25%;
  animation-duration: 1s;
  animation-name: twinkle;
}

.star3 {
  margin: 10% 0 0 50%;
  animation-duration: 1.1s;
  animation-name: twinkle;
}

@keyframes twinkle {
  20% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}

#backsky {
  position: relative;
  padding: 10px;
  margin: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  background: linear-gradient(black, #000099, #66c2ff, #ffcccc, #ffeee6);
}

#bounce {
  width: 100px;
  height: 100px;
  margin: 50px auto;
  position: relative;
  border-radius: 50%;
  background: linear-gradient(
    35deg,
    #ccffff,
    #ffcccc
  );
  animation-name: bounce;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes bounce{
  0% {
    top: 0px;
  }
  50% {
    top: 249px;
    width: 130px;
    height: 70px;
  }
  100% {
    top: 0px;
  }
}